<h6>STORIES</h6>
<h1>Recent Stories</h1>
    <div class="col">
        {{#each stories}}
        {{!-- loop through each story and display--}}
            <div class="row s12 m6">
                <div class="card">
                    {{!-- display card image pertaining to the tag --}}
                    <div class="card-image">
                        {{!-- image URL --}}
                        <img src = "images/{{tags}}.png">
                        {{!-- Sotry tag --}}
                        <span class="card-title">#{{tags}}</span>
                        {{!-- display edit icon user if authenticated user id matches story user id --}}
                        <a>{{{editIcon user ../user _id}}}</a>
                    </div>
                    <div class="card-content">
                        <div class="chip">
                            {{!-- display avatar image --}}
                            <img src="{{user.image}}" alt="">
                            {{!-- display link for author profile --}}
                            <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                        </div>
                            <br>
                            {{!-- display Story title --}}
                            <h5>{{title}}</h5>
                            {{!-- Display creation date --}}
                            <span id="date-title">{{formatDate createdAt 'MMMM Do YYYY'}}</span>
                            {{!-- display description truncated to 250 words with no HTML tags --}}
                            <p>{{stripTags  (truncate description 250)}}</p>
                            {{!-- display nump count --}}
                            <p class="bump-count">{{bumps}} Bumps</p>
                    </div>
                    <div class="card-action center-align">
                        {{!-- display a button to read the full story --}}
                        <a href="/stories/{{_id}}" class = "btn grey">Read</a>
                    </div>
                </div>
            </div>
        {{else}}
        {{!-- if there are no stories, display a message --}}
            <p>No stories to display</p>
        {{/each}}
    </div>

